* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  
  background-color: #444;
  font-family: Aller, Verdana, sans-serif;
}

#game-wrapper {
  display: flex;
}

#pwasson {
  margin: 0 auto;
  border: 3px solid #000000;
}

#gitlab {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  text-align: center;
}
#gitlab a {
  display: flex;
  margin: 5px;

  font-size: 16px;
  color: lime;
  text-align: center;
}
