* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  
  background-color: #171717;
  font-family: Aller, Verdana, sans-serif;
}

#game-wrapper {
  display: flex;
}

#pwasson {
  margin: 0 auto;
  border: 3px solid #000000;
}

a#gitlab {
  display: block;
  margin: 5px auto;

  font-size: 16px;
  color: lime;
  text-align: center;
}
